html {
  font-family: 'Alegreya Sans', sans-serif;
  overflow-x: hidden;
}

body, header {
  margin: 0 auto;
}

h1 {
  color: #FFFFFF;
  background-color: #78CC7A;

  text-align: center;
  margin: 0 auto;
  padding: 1em 0;
}

h2 {
  color: #78CC7A;
}

#wrapper {
  width: 90%;
  margin: 0 auto;
}

#banner {
  text-align: center;

  border-bottom: 3px solid #78CC7A;
  margin-bottom: 3px;
}

#banner p {
  font-size: 1.5em;
  font-weight: 100;

  margin: 0 auto 1.5em auto;
}

form {
  border-top: 2px solid #78CC7A;
}

label {
  font-size: 1.1em;
  font-weight: 300;
}

input, select {
  border: 2px solid #F4F4F4;
  border-radius: 5px;
  width: 100%;
  background-color: #F8F8F8;

  margin: 1em auto 2em auto;
  padding: 1em 0;
}

input:placeholder-shown {
  font-weight: 100;
  font-style: italic;
}

input::-webkit-input-placeholder, input::-moz-placeholder, input:-ms-input-placeholder, input:-moz-placeholder {
}

#zip {
    width: 50%;
}
