html {
  font-family: 'Alegreya Sans', sans-serif;
  overflow-x: hidden;
}

body, header {
  margin: 0 auto;
}

h1 {
  color: #FFFFFF;
  background-color: #78CC7A;

  text-align: center;
  margin: 0 auto;
  padding: 1em 0;
}

h2 {
  color: #78CC7A;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

fieldset {
  margin-top: 1.5em;
  border: none;
}

legend {
  color: #78CC7A;
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-size: 1.5em;
}

#wrapper {
  width: 90%;
  margin: 0 auto;
}

#banner {
  text-align: center;

  border-bottom: 3px solid #78CC7A;
  margin-bottom: 3px;
}

#contact_info {
  border-bottom: 2px solid #78CC7A;
}

p, label[for="comment"] {
  font-size: 1.5em;
  font-weight: 100;

  margin: 1.5em auto;
}

blockquote {
  font-style: italic;
  color: #949494;
  text-align: center;
  font-size: 1.2em;
  font-weight: 100;

  margin: 1em auto;
  display: block;
}

form {
  border-top: 2px solid #78CC7A;
}

label {
  font-size: 1.1em;
  font-weight: 300;
}

select {
  height: 2.2em;
}

input[type="text"], select {
  border: 2px solid #DADADA;
  border-radius: 5px;
  width: 100%;
  background-color: #F8F8F8;

  margin: 1em auto 2em auto;
  padding: 0 1em;
  line-height: 2em;
  font-size: 1.2em;
}

textarea {
  border: 2px solid #DADADA;
  border-radius: 5px;
  width: 100%;
  background-color: #F8F8F8;

  height: 150px;
  font-size: 1.2em;
}

input[type="text"]:focus, select:focus {
  outline: none;
  border: 2px solid #78CC7A;
}

input[type="text"]:placeholder-shown {
  font-weight: 100;
  font-style: italic;
}

label[for="zip"] {
  display: block;
}

#zip {
  width: 50%;
}

input[type="checkbox"], input[type="radio"] {
  margin-bottom: 1.5em;
  background-color: #F8F8F8;
  height: 1.5em;
  width: 1.5em;
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
  color: #78CC7A;
  border: 2px solid #78CC7A;
}

#checkboxes, #radioButtons {
  margin-bottom: 1.5em;
}

.check, .radio {
  font-size: 1.2em;
  margin-left: 1.2em;
}

input[type="submit"] {
  margin: 2em auto 1em auto;
  display: block;
  width: 100%;
  height: 2.5em;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.7em;
  line-height: 2em;
  color: #FFFFFF;
  background-color: #8BF58B;
  border-radius: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #8BF58B;
  transition: .5s ease-out;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #7AE97A;
  border-bottom: 2px solid #4D804D;

  width: 100%;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 800;
  font-size: 1.8em;
  color: #FFFFFF;

  background-color: #78CC7A;
}

.copyright {
  font-size: 1.4em;
  font-style: italic;
  font-weight: 100;
  text-align: center;
  margin: 0 auto 1em auto;
  color: #808080;
}
