@media(min-width: 760px) {

  #wrapper {
    width: 60%;
  }

  #contact_info .contact_div label {
    width: 20%;
    margin-right: 1em;
    display: inline-block;
  }

  #name, #email, #phone, #street, #city, #state {
    width: 65%;
    right: auto;
  }

  #zip {
    width: 30%;
  }

}
